In [ ]:
x=10
X= "jshi"
num2 = (1,1,23,)

In [ ]:
a= 10
b='10'

In [ ]:
num = int(input("enter the number"))
print(num)

In [ ]:
ayush =None

In [ ]:
a= 10
new = str(a)
print(new)

In [ ]:

list = [1,2,3 ,'hello', "hii",True]
print(list)
print(type(list))

###  Sets
- create
- print

` siuiu `

In [ ]:
myset = {1,2,3,"shiu", 12}
print(myset)
print(type(myset))

In [ ]:
my_dict = {
    "name" : "ayush",
    "age" : 20,
    "city":"lucknow"
}
print(my_dict)
print(my_dict["name"])

### Operators
- Arithmetic
- Assignment
- comparison
- Logical
- Identity
- MemberShip

In [ ]:
x= 25
y= 10
print(x+y) # add two numbers 
print(x-y) # subtract two numbers
print(x*y) # multiply two numbers
print(x/y) # divide two numbers
print(x%y)  # modulus  gives the remainder
print(x//y) # floor division

In [ ]:
x=10
print(x)

x+=10  # x= x+10
print(x)

x-=10   #x=x-10
print(x)

x*=10  # x=x*10
print(x)

x/=10  # x=x/10
print(x)

In [ ]:
x=4 
y=5
print(x==y)
print(x!=y)
print(x>y)

In [ ]:
a=10
b=20
print(a<b and b<a)
print(a>b or a<b)
print(not (a<b and b>a))

In [52]:
fruit = ["apple", "banana", "cherry"]
color = ["red", "yellow", "green"]
a=fruit
print(a is fruit)
print(fruit is not color)

True
True

In [ ]:
fruit = ["apple", "banana", "cherry"]
color = ["red", "yellow", "green"]


print(color in fruit)
print(fruit not in color)

In [ ]:
fruit=["apple", 'banana',"mango"]
newlist=[]

for x in fruit:
    if "a" in x:
        newlist.append(x)
    print(x)

del fruit
del newlist 
del x

In [ ]:
fruit=["apple", 'banana',"mango"]
fruit[1:2] = ["cherry", "orange"]
print(fruit)
fruit.insert(2,"hiii")
print(fruit)

In [ ]:
i=1
while i<11:
    print(f"{i} \t\t\t {i**2}")
    i+=1

In [ ]:
myset = {1,2,3,4,5,2,2,8}
print(myset)

In [ ]:
name= input("enter the user name:")
email=input("enter the email:")
pass1=input("enter the password:")
pass2=input("enter the password again:")
if len(name)>5 and len(name)<10:
    if "@" in email and len(email)>=6 and email.lower():
        if len(pass1)>5 and pass1!=name:
            if pass1==pass2:
                print("you are registered")
            else:
                print("password not match")
        else:
            print("password is invalid")
    else:
        print("email is invalid")
else:
    print("name is invalid")

In [7]:
del name
del email
del pass1
del pass2

In [8]:
mylist=["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [9]:
mylist[1]="blackcurrant"
print(mylist)

['apple', 'blackcurrant', 'cherry']

('apple', 'kiwi', 'cherry')

In [3]:
x= [1,2,3,4,5]
new= [x for x in x ]
new1=[x for x in x if x%2==0]
print(new)
print(new1)

[1, 2, 3, 4, 5]
[2, 4]

In [54]:
fruit=  ["banana", "apple", "orange"]
newf=[x  if  "m" in x else "pineaplle" for x in fruit]
print(newf)

['pineaplle', 'pineaplle', 'pineaplle']

In [26]:
fruit=["banana", "apple","orange", "pineapple","kiwi","graps"]
num=[1,2,3,4,5,6]

fruit.append("kiwi")

fruit.insert(1,"mango")

fruit.reverse()
fruit.pop()
fruit.sort()
fruit.extend(num)
fruit.clear()
print(fruit)
del fruit
del num

[]

In [32]:
myset={1,2,3,4,5,6,7}
print(myset)

myset.pop()
print(myset)
myset.pop()
print(myset)

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [51]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print((thisdict["colors"])[0:2])

['red', 'white']