### **Function**

In [5]:
def hello():
    num = int(input("enter the number:"))
    if num%2 == 0:
        print("even number")
    else:
        print("odd number")
        
a= hello()
print(a)

even number
None

In [7]:
def helloagain():
    hello()
helloagain()

even number

### **Function with parameter**

In [9]:
def para(name):
    print("Hello I am", name)
    
para("Irshad")

Hello I am Irshad

### **Return values and return statement**

In [7]:
def getAnswer(ansNumber):
    if ansNumber==1:
        return "it is first"
    elif ansNumber == 2:
        return "it is second"
    elif ansNumber ==3:
        return "it is third"
    else:
       return "anything else"
ans = getAnswer(int(input("enter the number:")))
print(ans)

it is second

### **Local and Global Scope**
- Local variable cannot be used in Global scope
- Local scope cannot used variables in oother local scope

In [9]:
egg=210
def span():
    print("hello")
span()

hello

#### **lambda expression** = anonymous function
` f(x) = x+5*x-2`
`f(2)`

`g(x,y) =x+y/2`
`g(2,3)`

In [6]:
f= lambda x:x+5 * x-2
g= lambda x, y: x + y / 2
print(f)

<function <lambda> at 0x0000022D764562A0>

In [8]:
print(f(2))
print(f(5))
print(g(2,4))

10
28
4.0

In [1]:
num = lambda x,y:x**2 +2*x*y + y**2

In [2]:
print(num(2,4))

36

In [3]:
## return the length of string
str_length = lambda s:len(s)

In [4]:
print(str_length("hello world"))

11

In [12]:
# convert the list of integers to their corresponding square values
data = [1,2,3,4,5,6]
square = list(map(lambda x:x**2, data))
print(square)

[1, 4, 9, 16, 25, 36]

In [2]:
number = [1,2,3,4,5,6,7,8]
evennum = list(filter(lambda x:x%2==0 , number))
print(evennum)

[2, 4, 6, 8]

In [18]:
# sort the list of string based on their alphabetical character and length
fruit = ["banana", "apple","mango","cherry","pineapple"]
sorted(fruit , key= lambda x:len(x))

['apple', 'mango', 'banana', 'cherry', 'pineapple']

In [22]:
# complex example
# sort a list of dictionaries based on a specific key
people = [{
    "name":"Irshad", "age":22, "occupation":"trainer"},
    {"name":"shrishti", "age":21, "occupation":"event manager"},
    {"name":"hafsha","age":25,"occupation":"MERN trainer"},
]
sorted(people, key= lambda x:(x["age"],x["name"]))

[{'name': 'shrishti', 'age': 21, 'occupation': 'event manager'},
 {'name': 'Irshad', 'age': 22, 'occupation': 'trainer'},
 {'name': 'hafsha', 'age': 25, 'occupation': 'MERN trainer'}]

In [26]:
## findin  the maximum value  in a dictionary
data1 = {'a':10, 'b':20, 'c':30}
max(data1, key= lambda x:data1[x])

'c'

In [36]:
color = ["red", "green","pink", "yellow","blue"]
newcolor = list(map(lambda x:x, fruit+color))
print(newcolor)

['banana', 'apple', 'mango', 'cherry', 'pineapple', 'red', 'green', 'pink', 'yellow', 'blue']

### **Map function in Python**

In [37]:
def even_or_odd(num):
    if num%2==0:
        return f'The number {num} is Even.'
    else:
        return f'The number {num} is Odd.'

In [38]:
even_or_odd(24)

'The number 24 is Even.'

In [41]:
for x in number:
    if x%2 ==0:
        print(f'{x} is even number')
    else:
        print(f'{x} is odd number')

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number

In [44]:
list(map(even_or_odd,number))

['The number 1 is Odd.',
 'The number 2 is Even.',
 'The number 3 is Odd.',
 'The number 4 is Even.',
 'The number 5 is Odd.',
 'The number 6 is Even.',
 'The number 7 is Odd.',
 'The number 8 is Even.']

### **Filter in Python**

In [2]:
def even(num):
    if num%2==0:
        return True

In [4]:
list(filter(even,number))

[2, 4, 6, 8]

In [3]:
list(map(lambda num:num%2==0, number))

[False, True, False, True, False, True, False, True]

In [6]:
def start_A(s):
    return s[0] == "A"
fruit=["Apple", "Banana","Mango"]
new= filter(start_A, fruit)
print(list(new))

['Apple']

In [10]:
new1 = filter(lambda s:s[0] =="A", fruit)
print(list(new1))

['Apple']

In [17]:
def even_odd(num):
    if num%2==0:
        print("even no.")
    else:
        print("odd number")
even_odd(int(input("enter the number")))

even no.

In [19]:

import math as m

print(m.sqrt(64))
print(m.sin (10))

8.0
-0.5440211108893698

In [22]:
import random

print(random.randint(1,6))

4

In [23]:
import datetime

print(datetime.datetime.now())

2024-06-16 12:09:57.516699

In [27]:
def hello():
    print("hello world")
hello()

In [31]:
def add(a,b):
    print(a+b)
add(2,3)

5

In [33]:
def sum(a,b):
    return a+b
sum(2,3,5)

TypeError: sum() takes 2 positional arguments but 3 were given

In [36]:
def new(*args):
    s=0
    for i in args:
        s+=i
    print(s)
new(2,3,4)

9

In [44]:
new()

0

In [39]:
new(10,2,34,22,3,45,67,88,576)

847

In [43]:
def addnum(a,*args):
    s=0
    for i in args:
        s+=i
    print(s,a)
addnum("John",3,4,5,6,7)

25 John

In [45]:
addnum()

TypeError: addnum() missing 1 required positional argument: 'a'

In [46]:
addnum("irshad", 2,3,4, b=5,c=7)

TypeError: addnum() got an unexpected keyword argument 'b'

In [47]:
def sumagain(*args, **kwargs):
    s=0
    for i in args:
        s+=i
    print(s)
    for key in kwargs:
        print(key,kwargs[key])

In [48]:
sumagain(2,3,4,b=5,c=10)

9
b 5
c 10

` lambda argument:expression`

`x+2*x+3`  f(x)

In [49]:
a = lambda x:x+2*x+3

In [50]:
a(2)

9

In [65]:
quote = "All the glitter is not GoldðŸ’›"
quotes_upper = quote.upper()
quotes_lower = quote.lower()
quotes_capt = quote.capitalize()
quotes_center= quote.center(100,"*")

In [66]:
print(quotes_upper)
print(quotes_lower)
print(quotes_capt)
print(quotes_center)

ALL THE GLITTER IS NOT GOLDðŸ’›
all the glitter is not goldðŸ’›
All the glitter is not goldðŸ’›
************************************All the glitter is not GoldðŸ’›************************************