#### **String**
- creating
- indexing and slicing
- methods
- tips and tricks

In [ ]:
a= "apple"
b='apple'
c= '''this is
 very usefull
 in multiple message

'''
d= str(685)

In [ ]:
# type of string
#f-string
x= f'{a} is a fruit'
print(x)

#row string

addr = r'c"\users\name\desktop'
print(addr)

#unicode string
uni = u'hello'
print(uni)

#byte string
byt = b'helo'
print(byt)

In [ ]:
v="encyclopedia"
print(v[0]) # first index
print(v[1]) # second index
print(v[2]) # third index
print(v[11]) #last index
print(v[-1]) #last index

slicing in python
```
x[start:stop]
```

In [2]:
a='Encyclopedia'
print(len(a))
print(a[2:8])  # last index in not included

12
cyclop

In [5]:
name ='Vijay deenanath chauhan'
fname = name[0:5]
mname = name[6:15]
lname = name[15:]
print(fname)
print(mname)
print(lname)

Vijay
deenanath
 chauhan

In [7]:
msg = "once upon a time, there was a place called eternia"
msg[:16]

'once upon a time'

In [18]:
amt = '$123456'
amt1 = amt[1:]
print(amt1)
amt = int(amt1)
print(amt)
print(type(amt))

123456
123456
<class 'int'>

In [20]:
msg[::2] #every 2nd character (even index)

'oc pnatm,teewsapaecle tri'

In [21]:
msg[1::2] # every odd character (odd index)

'neuo  ie hr a  lc aldeena'

In [25]:
#most OP thing in slicing
msg[::-1] #reverse the string

'ainrete dellac ecalp a saw ereht ,emit a nopu ecno'

In [26]:
msg[::-1][:5]

'ainre'

In [29]:
name[6:15][::-1]

'htananeed'

### **String Method**
- formating
- validation
- find & replace
- etc.

In [32]:
quote= 'All the glitter is not GoldðŸ¥‡'
quote_upper = quote.upper()
print(quote)
print(quote_upper)
quote_lower = quote.lower()
print(quote_lower)
quote.capitalize()

All the glitter is not GoldðŸ¥‡
ALL THE GLITTER IS NOT GOLDðŸ¥‡
all the glitter is not goldðŸ¥‡

'All the glitter is not goldðŸ¥‡'

In [37]:
quote.swapcase()

'aLL THE GLITTER IS NOT gOLDðŸ¥‡'

In [42]:
quote.rjust(50,"*")

'**********************All the glitter is not GoldðŸ¥‡'

In [43]:
quote.ljust(50,"*")

'All the glitter is not GoldðŸ¥‡**********************'

In [44]:
quote.center(40,"*")

'******All the glitter is not GoldðŸ¥‡******'

In [45]:
quote.isnumeric()

False

In [50]:
fname = input("enter your name: (dont use number)")
if fname.isalpha():
    print("valid name, very good")
else:
    print("what kind of name is this")

valid name, very good

In [52]:
# find and index methods for searching in strings
msg.find('place')  #return the index of the first occurance of the substring

30

In [57]:
data = '''Wonderland is a place of magic,
where different place are exist.
King of wonderland name is Nobody'''
print(data.find("place"))
print(data.find("place", 17)) # 17 is starting index for searching
print(data.find("Place")) # -1 means not found
print(data.lower().find("place"))
#reverse find
print(data.rfind("place"))  # return the index of the last occurance of thr substring

16
48
-1
16
48

In [61]:
# replace method 
data.replace("place", "world")

'Wonderland is a world of magic,\nwhere different world are exist.\nKing of wonderland name is Nobody'

In [62]:
data.replace("o", "a").replace("w", "Z").replace("f","d")

'Wanderland is a place ad magic,\nZhere didderent place are exist.\nKing ad Zanderland name is Nabady'

In [65]:
data.replace(" ","_",3)

'Wonderland_is_a_place of magic,\nwhere different place are exist.\nKing of wonderland name is Nobody'