# **Variables:**
#### variables are the containers for storing data.
# **Creating a Variable:**
- variable must start with a letter or the underscore character.
- a variable name cannot start with a number.
- a variable name only contain (A-Z, 0-9, and _).
- a variable name cannot contain python keywords.

In [6]:
myvar = "John"
_myvar = "Jony"
MYVAR = "Janardhan"
my_var2 = "hello"
x,y,z = "orange", "banana","mango"
X=Y=Z = "apple"

print(X)

apple

# **How to take input:**
#### direct assigning method.
#### input from user.

In [10]:
x= 2
y="hello"

z= int(input("enter the value:"))
print(x)
print(y)
print(z)

2
hello
55

# **Operators:**
#### operators are used to perform operations on variable and values.
# **Types of Operators:**
#### Arithmetic operators, Assignment operators, Comparison operators
#### Logical operators, Identity operators, Membership operators, Bitwise operators

In [22]:
x=3
y=4
print(x+y)

a=5
b=2
print(a-b)

c=5
d=5
print(c*d)

e=5
f=2
print(e/f)

g=5
h=2
print(g%h) 

i=5
j=2
print(i//j)

7
3
25
2.5
1
2

In [26]:
x=5
x+=3
print(x)

a=5
a/=3
print(a)

b=5
b%=3
print(b)

c=5
c//=3
print(c)

8
1.6666666666666667
2
1

In [31]:
x=4
y=4
print(x== y)

a=5
b=5
print(a!=b)

True
False

In [34]:
x=5
print(x>3 and x<10)

y=5
print(y>3 or y<4)

z=5
print(not(z>3 and z<10))

True
True
False

In [38]:
x=["apple", "banana"]
y=["apple", "banana"]
z=x
print(x is z)
print(x is y)
print(x==y)

True
False
True

In [1]:
x=["ramu", "shyam","gopal"]
print("ramu" in x)
print("ram" in x)

print("sita" not in x)

True
False
True

# **DataType:**
#### Variables can store data of different type, and different types can do different things.
#### integer, float, string, boolean, None, list, tuple, set, dictionary

In [16]:
mylist = ["apple", "banana", "cherry", "orange","apple"]
print(mylist) 
print(mylist[2])
print(mylist[-1])
print(mylist[1:3])
print(mylist[:4])
print(mylist[1:])

mylist[1] ="blackberrry"
print(mylist)

mylist[1:3] = ["wateeemelon", "mango"]
print(mylist)

mylist.insert(2,"papaya")
print(mylist)

['apple', 'banana', 'cherry', 'orange', 'apple']
cherry
apple
['banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry', 'orange', 'apple']
['apple', 'blackberrry', 'cherry', 'orange', 'apple']
['apple', 'wateeemelon', 'mango', 'orange', 'apple']
['apple', 'wateeemelon', 'papaya', 'mango', 'orange', 'apple']

# **Add and Remove List:**

In [26]:
thislist = ["apple", "banana", "cherry"]
mylist =(1,2,3)
thislist.append("orange")
print(thislist)

thislist.extend(mylist)
print(thislist)

thislist.insert(1,"mango")
print(thislist)

thislist.remove("banana")
print(thislist)

thislist.pop(2)
print(thislist)

thislist.pop()
print(thislist)

del thislist[0]
print(thislist)

thislist.clear()
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 1, 2, 3]
['apple', 'mango', 'banana', 'cherry', 'orange', 1, 2, 3]
['apple', 'mango', 'cherry', 'orange', 1, 2, 3]
['apple', 'mango', 'orange', 1, 2, 3]
['apple', 'mango', 'orange', 1, 2]
['mango', 'orange', 1, 2]
[]

# **Sort List:**

In [29]:
x=["cherry","mango","apple","pineapple","banana"]
x.sort()
print(x)

x.sort(reverse = True)
print(x)

['apple', 'banana', 'cherry', 'mango', 'pineapple']
['pineapple', 'mango', 'cherry', 'banana', 'apple']

# **Tuple:**

In [40]:
mytuple = (1, 5 ,4,7,3,4,7)
print(mytuple)

x = list(mytuple)

x[1] ="orange"
mytuple = tuple(x)
print(mytuple)

x.append("kiwi")
mytuple = tuple(x)
print(mytuple)

x.remove("kiwi")
mytuple = tuple(x)
print(mytuple)

(1, 5, 4, 7, 3, 4, 7)
(1, 'orange', 4, 7, 3, 4, 7)
(1, 'orange', 4, 7, 3, 4, 7, 'kiwi')
(1, 'orange', 4, 7, 3, 4, 7)